<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.promo3.mapper.ShakeUserMapper" >
	
	<select id="selectByOpenidAndAppid" resultType="com.rtmap.promo3.domain.ShakeUser">
		select `id`,`openid`,`nick_name`,`head`,`update_time` from shake_user where openid=#{openid} and appid=#{appid} limit 1
	</select>
	
	<insert id="insert" parameterType="com.rtmap.promo3.domain.ShakeUser">
		insert into shake_user
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        id,
	      </if>
	      <if test="appid != null" >
	        appid,
	      </if>
	      <if test="openid != null" >
	        openid,
	      </if>
	      <if test="nick_name != null" >
	        nick_name,
	      </if>
	      <if test="head != null" >
	        head,
	      </if>
	      <if test="create_time != null" >
	        create_time,
	      </if>
	      <if test="update_time != null" >
	        update_time,
	      </if>
	      <if test="state != null" >
	        state,
	      </if>
	      <if test="subscribe_time != null" >
	        subscribe_time,
	      </if>
	      <if test="unsubscribe_time != null" >
	        unsubscribe_time,
	      </if>
	      <if test="country != null" >
	        country,
	      </if>
	      <if test="unionid != null" >
	        unionid,
	      </if>
	      <if test="sex != null" >
	        sex,
	      </if>
	      <if test="province != null" >
	        province,
	      </if>
	      <if test="city != null" >
	        city,
	      </if>
	      <if test="remark != null" >
	        remark,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        #{id},
	      </if>
	      <if test="appid != null" >
	        #{appid},
	      </if>
	      <if test="openid != null" >
	        #{openid},
	      </if>
	      <if test="nick_name != null" >
	        #{nick_name},
	      </if>
	      <if test="head != null" >
	        #{head},
	      </if>
	      <if test="create_time != null" >
	        #{create_time},
	      </if>
	      <if test="update_time != null" >
	        #{update_time},
	      </if>
	      <if test="state != null" >
	        #{state},
	      </if>
	      <if test="subscribe_time != null" >
	        #{subscribe_time},
	      </if>
	      <if test="unsubscribe_time != null" >
	        #{unsubscribe_time},
	      </if>
	      <if test="country != null" >
	        #{country},
	      </if>
	      <if test="unionid != null" >
	        #{unionid},
	      </if>
	      <if test="sex != null" >
	        #{sex},
	      </if>
	      <if test="province != null" >
	        #{province},
	      </if>
	      <if test="city != null" >
	        #{city},
	      </if>
	      <if test="remark != null" >
	        #{remark},
	      </if>
	    </trim>
	</insert>
	
  <update id="update" parameterType="com.rtmap.promo3.domain.ShakeUser" >
    update shake_user
    <set>
      <if test="nick_name != null" >
        nick_name = #{nick_name},
      </if>
      <if test="head != null" >
        head = #{head},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time},
      </if>
      <if test="state != null" >
        state = #{state},
      </if>
      <if test="subscribe_time != null" >
        subscribe_time = #{subscribe_time},
      </if>
      <if test="unsubscribe_time != null" >
        unsubscribe_time = #{unsubscribe_time},
      </if>
      <if test="country != null" >
        country = #{country},
      </if>
      <if test="unionid != null" >
        unionid = #{unionid},
      </if>
      <if test="sex != null" >
        sex = #{sex},
      </if>
      <if test="province != null" >
        province = #{province},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
    </set>
    where id = #{id}
  </update>
	
	<update id="updateUnsubcribeAndState" parameterType="com.rtmap.promo3.domain.ShakeUser" >
		update shake_user 
		<set>
			<if test="update_time != null" >
       			update_time = #{update_time},
     		</if>
     		<if test="unsubscribe_time != null" >
        		unsubscribe_time = #{unsubscribe_time},
	      </if>
	    	<if test="state != null" >
	        	state = #{state},
	      </if>
	     </set>
	      where openid = #{openid} and appid = #{appid}
	</update>
	
	<delete id="delete">
		delete from shake_user where appid = #{appid} and openid = #{openid}
	</delete>
</mapper>