<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.core.mapper.CardMapper" >
  	
  	<insert id="insert" parameterType="com.rtmap.core.domain.Card" keyProperty="id">
  		insert into wx_card
		<trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="fkPromoId != null" >
	        fk_promo_id,
	      </if>
	      <if test="fkPrizeId != null" >
	        fk_prize_id,
	      </if>
	      <if test="fkAuthId != null" >
	        fk_auth_id,
	      </if>
	      <if test="cardId != null" >
	        card_id,
	      </if>
	      <if test="cardType != null" >
	        card_type,
	      </if>
	      <if test="baseInfo != null" >
	        base_info,
	      </if>
	      <if test="advancedInfo != null" >
	        advanced_info,
	      </if>
	      <if test="extInfo != null" >
	        ext_info,
	      </if>
	      <if test="stockValue != null" >
	        stock_value,
	      </if>
	      <if test="state != null" >
	        state,
	      </if>
	      <if test="createTime != null" >
	        create_time,
	      </if>
	    </trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="fkPromoId != null" >
	        #{fkPromoId},
	      </if>
	      <if test="fkPrizeId != null" >
	        #{fkPrizeId},
	      </if>
	      <if test="fkAuthId != null" >
	        #{fkAuthId},
	      </if>
	      <if test="cardId != null" >
	        #{cardId},
	      </if>
	      <if test="advancedInfo != null" >
	        #{cardType},
	      </if>
	      <if test="baseInfo != null" >
	        #{baseInfo},
	      </if>
	      <if test="advancedInfo != null" >
	        #{advancedInfo},
	      </if>
	      <if test="extInfo != null" >
	        #{extInfo},
	      </if>
	      <if test="stockValue != null" >
	        #{stockValue},
	      </if>
	      <if test="state != null" >
	        #{state},
	      </if>
	      <if test="createTime != null" >
	        #{createTime},
	      </if>
	    </trim>
	    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		  SELECT LAST_INSERT_ID() AS id
		 </selectKey>
  	</insert>
  
  	<update id="updateState">
  		update wx_card set `state` = #{state} where card_id = #{cardid}
  	</update>
  	<select id="getCard" resultType="com.rtmap.core.domain.Card">
  		select `id`,`card_id` as cardId from wx_card where fk_promo_id = #{fkPromoId} and fk_prize_id = #{fkPrizeId}
  	</select>
  	<select id="getStateList" resultType="com.rtmap.core.domain.Card">
  		select `fk_promo_id` as fkPromoId ,`fk_prize_id` as fkPrizeId , `card_id` as cardId , `state` from wx_card where fk_promo_id = #{fkPromoId}
  	</select>
  	
  	<update id="increaseStock">
  		update wx_card set `stock_value` = `stock_value` + #{increase} where id = #{id}
  	</update>
  	
</mapper>
